**/*.class
**/*.json
**/*.bin
.classpath
.project
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
searchEngine.jar
dummy/*
build.xml
manifest.mf
build/
corpus/*
corpus_small/*
nbproject/
btree4j.properties
